body {
  margin: .5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.singleMentorContainer {
  text-align: center;
}

.singleMentorImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.singleMentorName {
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 0.075em;
  color: #b32b33;
  font-weight: bold;
}

.singleMentorBio {
  padding: 2% 20% 0 20%;
  text-align: left;
}

.logo {
  padding: 1.5%;
  width: 282px;
  height: 40px;
}

.allMentorsButton {
  position: absolute;
  top: 3%;
  right: 1.5%;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #b32b33;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}

.mentors {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(1, 1fr);
}

.mentor > h1 {
  cursor: pointer;
}

.mentor {
  object-fit: cover;
  padding: .5em;
  margin: .5em;
  text-align: center;
  background-color: #d6d6d6;
  border-radius: 5px;
}

.mentor > img {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
